<span *ngIf="logged">
  <button (click)="refreshDatabase()">Odśwież bazę</button>
  <button (click)="cleanDatabase()">Czyść bazę</button>
  <button (click)="importDatabase()">Importuj bazę</button>
  <app-add [database]="database" (uploaded)="added($event)"></app-add>
</span>

<div>
  <button *ngFor="let letter of alphabet(); let i=index" (click)="setFirstLetter(letter)" [disabled]="disableLetter(i)">
    {{letter}}
  </button>
  <button (click)="setFirstLetter('')" [disabled]="!firstLetter">Czyść</button>
</div>

<div>
  <input type="text" [(ngModel)]="searchName">
  <button (click)="setSearchName('')" [disabled]="!searchName">Czyść</button>
</div>

<div *ngFor="let junk of prepareDatabase(firstLetter, searchName)">
  <div *ngIf="logged; else notLoggedBlock">
    <p>
      <button (click)="delete(junk)" [disabled]="modify">Usuń</button>
      <button (click)="update(junk)" [disabled]="modify">Zapisz</button>
      <b>{{ junk.name }}</b>
      <input type="text" [(ngModel)]="junk.place">    
    </p>
  </div>
  <ng-template #notLoggedBlock>
    <p>
      <b>{{ junk.name }}</b>: 
      {{ junk.place }}
    </p>
  </ng-template>
</div>