<app-add *ngIf="logged" [database]="database" (uploaded)="added($event)"></app-add>

<div *ngIf="logged">
  <button (click)="refreshDatabase()">Odśwież dane z bazy</button>
  <button (click)="cleanDatabase()">Czyść bazę</button>
  <button (click)="importDatabase()">Importuj przykładową bazę</button>
</div>

<button *ngFor="let letter of alphabet(); let i=index" (click)="setFirstLetter(letter)" [disabled]="disableLetter(i)">
  {{letter}}
</button>
<button (click)="setFirstLetter('')" [disabled]="!firstLetter">Czyść</button>

<input type="text" [(ngModel)]="searchName">
<button (click)="setSearchName('')" [disabled]="!searchName">Czyść</button>

<div *ngFor="let junk of prepareDatabase(firstLetter, searchName)">
  
  <div *ngIf="logged; else notLoggedBlock">
    <p>
      <button (click)="delete(junk)">Usuń</button>
      <button (click)="update(junk)">Zapisz</button>
      <b>{{ junk.name }}</b>
      <input type="text" [(ngModel)]="junk.place">    
    </p>
  </div>
  <ng-template #notLoggedBlock>
    <p>
      <b>{{ junk.name }}</b>: 
      {{ junk.place }}
    </p>
  </ng-template>
  
</div>