<div *ngIf="logged" class="container">
  <div class="row">
    <div class="col s12 center-align menu">
      <button (click)="refreshDatabase()" class="waves-effect waves-light btn">Odśwież bazę</button>
      <button (click)="cleanDatabase()" class="waves-effect waves-light btn">Czyść bazę</button>
      <button (click)="importDatabase()" class="waves-effect waves-light btn">Importuj bazę</button>
      <app-add [database]="database" (uploaded)="added($event)"></app-add>
    </div>
  </div>
</div>

<div class="container center-align alphabet">
  <div class="row">
    <div class="col s12">
      <button *ngFor="let letter of alphabet(); let i=index" (click)="setFirstLetter(letter)" [disabled]="disableLetter(i)" class="waves-effect waves-light btn">
        {{letter}}
      </button>
      <button (click)="setFirstLetter('')" [disabled]="!firstLetter" class="waves-effect waves-light btn">
        <i class="material-icons">remove_circle</i>
        Czyść
      </button>
    </div>
  </div>
</div>

<div class="container search">
  <div class="row">
    <div class="col s12 m10">
      <input type="text" [(ngModel)]="searchName" placeholder="Wyszukaj">
    </div>
    <div class="col s12 m2">
      <button (click)="setSearchName('')" [disabled]="!searchName" class="waves-effect waves-light btn">
        <i class="material-icons">remove_circle</i>
        Czyść
      </button>
    </div>
  </div>
</div>

<div class="container" *ngFor="let junk of prepareDatabase(firstLetter, searchName)">
  <div *ngIf="logged; else notLoggedBlock">
    <div class="row">
      <div class="col s12 m8">
        <h5>{{ junk.name }}</h5>
        <input type="text" [(ngModel)]="junk.place">
      </div>
      <div class="col s6 m2 right-align">
        <button (click)="delete(junk)" [disabled]="modify" class="waves-effect waves-light btn btn-small">
          <i class="material-icons">delete</i>
          Usuń
        </button>
      </div>
      <div class="col s6 m2">
        <button (click)="update(junk)" [disabled]="modify" class="waves-effect waves-light btn btn-small">
          <i class="material-icons">save</i>
          Zapisz
        </button>
      </div>
    </div>
  </div>
  <ng-template #notLoggedBlock>
    <div class="row">
      <div class="col s12">
        <h5>{{ junk.name }}</h5>: {{ junk.place }}
      </div>
    </div>
  </ng-template>
</div>